
*{
	box-sizing:border-box;
}





body{
	
	backround: #333;
	padding: 0;
	margin: 0;
	overflow: hidden;
	
}

.game-container{
	position: relative;
	width: 480px;
	height: 320px;
	outline: 1px solid #fff;
	
}
	